[package]
name = "svm-rs"
version = "0.1.0"
edition = "2018"
authors = ["Rohit Narurkar <rohit.narurkar@protonmail.com>"]

[lib]
name = "svm_lib"
path = "src/lib.rs"

[[bin]]
name = "solc"
path = "src/solc/main.rs"

[[bin]]
name = "svm"
path = "src/svm/main.rs"

[dependencies]
anyhow = "1.0.43"
cfg-if = "1.0.0"
console = "0.14.1"
dialoguer = "0.8.0"
home = "0.5.3"
indicatif = "0.16.2"
itertools = "0.10.1"
once_cell = "1.8.0"
rand = "0.8.4"
reqwest = { version = "0.11.4", features = [ "json" ] }
semver = "1.0.4"
serde = { version = "1.0.130", features = [ "derive" ] }
serde_json = "1.0.59"
structopt = { version = "0.3", default-features = false }
tempfile = "3.2.0"
thiserror = "1.0.29"
tokio = { version = "1.11.0", features = [ "full" ] }
url = "2.2.2"

[build-dependencies]
home = "0.5.3"
